.menu{
  width: 60px;
  height: 100px;
  box-shadow: 0 0 5px 0 rgb(67 74 84 / 30%);
  background-color: rgb(255, 255, 255);
  border: 1px solid #cbcdd0;
  z-index: 10;
}
.menuItem{
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.menuItem:hover{
  background-color: rgb(213, 202, 202);
}

.nextMenu{
  width: 80px;
  height: 100px;
  box-shadow: 0 0 5px 0 rgb(67 74 84 / 30%);
  background-color: rgb(255, 255, 255);
  border: 1px solid #cbcdd0;
  z-index: 10;
  position: absolute;
  left: 60px;
  top: 80px;
}

.nextMenuItem{
  width: 80px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.nextMenuItem:hover{
  background-color: rgb(213, 202, 202);
}
