.leftCom{
  height: 89.5%;
  width: 20%;
  overflow: auto;
  z-index: 1000;
  margin-top: 70px;
  background-color: #ffffff;
}

.leftCom .ant-collapse-content-box{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 0 !important;
  margin-bottom: 10px;
  overflow: auto;
  max-height: 60vh;
}

.componentItem{
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid rgb(187, 181, 181);
  border-radius: 4px;
  padding: 10px;
}