.leftCom{
  margin-top: 40px;
  height: 100%;
  width: 20%;
}

.componentList{
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.componentItem{
  width: 80px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid rgb(187, 181, 181);
  border-radius: 4px;
  padding: 10px;
}