#componentButton button{
  width: 74px;
  height: 28px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
}

#componentButton .button:hover{
  background-color: rgb(242, 240, 240);
  border: 1px solid #505766;
}

#componentButton .disableButton:hover{
  cursor: no-drop;
}