.renderCom{
  flex:1;
  background: linear-gradient(rgb(147, 146, 146),rgb(218, 214, 214) ,#7599dd);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.editAction{
  position: fixed;
  left: 30%;
}

.renderCom .topMenu{
  width: 200px;
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 50px;
}

.renderCom .topMenu .topMenuItem{
  font-size: 14px;
  width: 60px;
  height: 30px;
  border: 1px solid burlywood;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
}

.renderCom .topMenu .topMenuItem:hover{
  border: 1px solid blue;
  cursor: pointer;
}