.designTop{
  position: absolute;
  height: 40px;
  color: rgb(211, 202, 202);
  background-image: url('https://img.js.design/assets/Resources/background/login-bg-5.jpg');
  background-position: -361px;
  width: 100%;
  z-index: 10;
}

.designTop button{
  position: absolute;
  right: 20px;
  top: 7px;
  width: 100px;
}