.rightCom{
  height: 93.3%;
  width: 20%;
  background: linear-gradient(rgb(234 213 210),rgb(236 235 202) ,#dbf0c7);
  right: 0;
  overflow: auto;
  z-index: 1000;
  margin-top: 40px;
}

.attributeItem{
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}