.rightCom{
  height: 100%;
  width: 20%;
  position: absolute;
  background-color: rgb(254, 254, 254);
  right: 0;
  overflow: auto;
}

.attributeItem{
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}