.rightCom{
  height: 89.5%;
  width: 20%;
  right: 0;
  overflow: auto;
  z-index: 1000;
  margin-top: 70px;
  /* border-left: 1px solid rgb(210, 199, 199); */
  background-color: #ffffff;
}

.attributeItem{
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}