.DBHeader{
  height: 70px;
  position: relative;
  box-shadow: 0 0 5px 5px rgb(227, 223, 223);
  background-color: #ffffff;
}

.DBContainer{
  margin-top: 10px;
  display: flex;
}

.DBLeftList{
  width: 400px;
}

.DBRightTable{
  margin-left: 10px;
  width: 1000px;
}