.styleFooter{
  width: 120px;
  position: absolute;
  display: flex;
  left: 575px;
  top: 409px;
  justify-content: space-between;
}
.editStyle .textarea{
  width: 470px;
  height: 400px;
  resize: none;
  border: none;
}