.designTop{
  position: absolute;
  height: 66px;
  color: rgb(211, 202, 202);
  width: 100%;
  z-index: 1000;
  /* border-bottom: 1px solid rgb(209, 203, 203); */
  box-shadow: 0 0 2px 2px rgb(209, 203, 203);
  background-color: #ffffff;
}

.designTop button{
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.designTop .pageIdTitle{
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  color: black;
  font-style: italic;
}

.designTop .topIcon{
  float: right;
  margin-top: 25px;
  font-size: 20px;
  margin-right: 20px;
  color: gray;
  cursor:not-allowed
}

.designTop .topIconActive{
  float: right;
  margin-top: 25px;
  font-size: 20px;
  margin-right: 20px;
  color: blue;
  cursor:pointer
}