.PageHeader{
  height: 60px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
.PageBody{
  position: relative;
  top: 50px;
  width: 1000px;
  margin: 0 auto;
}
.PageList{
  background-color: #e0e5ec;
  height: 100%;
}