.actinFooter{
  width: 120px;
  position: absolute;
  display: flex;
  left: 447px;
  top: 409px;
  justify-content: space-between;
}
.editAction .textarea{
  position: absolute;
  left: -40px;
  width: 600px;
  height: 400px;
  resize: none;
}